.layout-container {
    .layout-sider {
        height: 100vh;
        overflow: auto;
        position: fixed;
        left: 0;
        .logo {
            background: rgba(255, 255, 255, .2);
            margin: 15px;
            line-height: 32px;
            text-align: center;
            color: #fff;
        }
    }
    &-right {
        margin-left: 200px;
        &.retraction {
            margin-left: 80px;
            transition: all .2s;
        }
        .layout-header {
            background: #fff;
            padding: 0;
        }
        .icons {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color .3s;
            &:hover {
                color: #1890ff;
            }
        }
        .userinfo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}